{% block title %} <title>SS Login</title> {% endblock %}
{% load crispy_forms_tags %}

<html>
{% load static %}
<link rel="stylesheet" href="{% static  'accounts/login.css' %}">

<body>
    <div id="login-body">
        <h1 id="login-header">Login with Simon</h1>
        <h4>If you are logging in for the first time, don't login while connected to the school wifi.</h4>
        <!-- Display custom messages -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div id="input">
            <form method="post">
                {% csrf_token %}

                <!-- Link input field to Django's authentication system -->
                <input type="text" name="user_email" id="email-input" placeholder="Email">
                <input type="password" name="password" id="password-input" placeholder="Password">

                <!-- Display form errors -->
                {% if form.non_field_errors %}
                <div class="error">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                <button type="submit" id="login-button">Login</button>
            </form>
        </div>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <style>
            :root {
        font-family: Myriad-Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        margin: 0;
        padding: 0;
      }

      body {
        background-color: #232323;
        color: white;
        margin: 0;
        padding: 0;
      }
      #login-header {
          color: white;
      }
        </style>
    </div>
</body>

</html>