<title>Simon Social</title>
{% load static %}
<html>
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/base.css' %}">
  <body id="site-body">
    <div id="nav-div">
      <div id="nav-left">
        <a href="/dashboard">Dashboard</a>
        <a href="{% url 'social-board' %}"><span class="link-text">Chat</span></a>
      </div>
      <div id="nav-right">
        <div class="username-dropdown">
          <span class="username">Jesse</span>
          <img src="" alt="User Icon" class="user-icon">
          <div class="dropdown-content">
            <a onclick="location.href='/login' ">Logout</a>
            <a onclick="location.href='/editprofile' ">Edit Profile</a>
          </div>
          <button id="login-button" onclick="location.href='/login'">Login</button>
        </div>
      </div>
    </div>
    <div id="content">{% block content %} {% endblock %}</div>
  </body>
</html>
