{% extends "base.html" %} {% block title %}Laternerd test 10{% endblock %} {%
block content %}

<body>
    <div id="body">
        <div id="classes-div">
            <div class="classes">
                <h3 class="class-header">Systems</h3>
                <ul>
                    <li>Practice exam</li>
                    <li>Electrical symbols</li>
                    <li>Update folio</li>
                </ul>
                <button class="add-task">+</button>
            </div>
            <div class="classes">
                <h3 class="class-header">Software Development</h3>
                <ul>
                    <li>Wireframe</li>
                    <li>Practice exam</li>
                    <li>Systems - update folio</li>
                </ul>
                <button class="add-task">+</button>
            </div>
            <div class="classes">
                <h3 class="class-header">English</h3>
                <ul>
                    <li>Chapter reviews</li>
                    <li>Finish TWDSC</li>
                </ul>
                <button class="add-task">+</button>
            </div>
            <div class="classes">
                <h3 class="class-header">Maths</h3>
                <ul>
                    <li>Chapter 10B - 10C - 10D - 10E</li>
                </ul>
                <button class="add-task">+</button>
            </div>
            <div class="classes">
                <h3 class="class-header">Business Management</h3>
                <ul>
                    <li>Business Notes</li>
                    <li>Practice test</li>
                </ul>
                <button class="add-task">+</button>
            </div>
            <div class="classes">
                <h3 class="class-header">Peace and Justice</h3>
                <ul>
                    <li>Refugee work</li>
                </ul>
                <button class="add-task">+</button>
            </div>
        </div>
        <div id="timetable">
            <div class="periods">
                <div class="period">
                    <h3>Homeroom</h3>
                    <p>6XCL2M41 @ W301</p>
                </div>
            </div>
            <div class="periods">
                <div class="period">
                    <h3>Homeroom</h3>
                    <p>6XCL2M41 @ W301</p>
                </div>
            </div>
            <div class="periods">
                <div class="period">
                    <h3>Homeroom</h3>
                    <p>6XCL2M41 @ W301</p>
                </div>
            </div>
            <div class="periods">
                <div class="period">
                    <h3>Homeroom</h3>
                    <p>6XCL2M41 @ W301</p>
                </div>
            </div>
            <div class="periods">
                <div class="period">
                    <h3>Homeroom</h3>
                    <p>6XCL2M41 @ W301</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

<style>
    #body {
        display: flex;
        border: solid black 2px;
        transform: translateY(20%);
    }

    #timetable {
        position: relative;
        display: flex;
        width: 30vw;
        /* width: 560px; */
        overflow: auto;
        flex-wrap: wrap;
        margin: 10px;
        border: solid black 2px;
        bottom: -10%;
    }

    .periods {
        flex-direction: row;
        border: solid black 2px;
        height: 5vh;
        width: 28vw;
        margin: 10px;
        border-radius: 35px;
        height: auto;
    }

    .period {
        margin: 20px;
    }

    #classes-div {
        position: relative;
        display: flex;
        width: 67.5%;
        /* width: 1300px; */
        overflow: hidden;
        flex-wrap: wrap;
        margin: 20px;
        border: solid black 2px;
        bottom: -10%;
    }

    .classes {
        flex-direction: row;
        width: 30.7%;
        /* width: 400px; */
        height: 200px;
        border: solid black 2px;
        margin: 10px;
        border-radius: 35px;
        top: inherit;
        bottom: inherit;
    }

    .class-header {
        margin: 20px;
    }

    .add-task {
        flex-direction: row;
    }
</style>
{% endblock %}