{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div id="main-body">
    <h1>Edit Profile</h1>
    <h4>[[profile.name]]</h4>
    <div id="editcontent">
        <form action="/update_profile" method="post">
            <label for="theme-select">Select Theme:</label>
            <select name="cars" id="cars">
                <option value="volvo">Light</option>
                <option value="saab">Dark</option>
                <option value="mercedes">blue</option>
                <option value="audi">Pink</option>
            </select>
            <label for="Sync">Sync Simon</label>
            <button id="sync-btn">Sync</button>

        </form>
    </div>
</div>
<style>
    #main-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #editcontent {
        display: flex;
        flex-direction: column;
    }

    #sync-btn {
        width: fit-content;
    }

    form {
        display: flex;
        flex-direction: column;
    }
</style>
{% endblock %}